@layer theme-overrides {

    :root {

    }

	body {
		font-family: var(--yak-primary-font);
	}
	
	h1, h2, h3 {
		font-family: var(--yak-secondary-font, var(--yak-primary-font));
	}
	
	button, .yak-ui-label {
		font-family: var(--yak-accent-font, var(--yak-primary-font));
	}
	
    
    @media screen and (min-width: 960px) {

		.content {
			max-width: var(--yak-content-max-width);
		}
        
    }


    @media screen and (max-width: 959px) {

        
    }

}

